{% extends "soporte.html" %}
{% block title %} Agregar Usuario - YURAKU {% endblock %}
{% block content %}
{% load staticfiles %}
<title> Agregar Usuario - YURAKU </title>
<html class="no-js" lang="en">
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header"><!-- Logo -->
                <a href="{% url 'homepage' %}" class="logo"><!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>Y</b>K</span><!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>YURA</b>KU</span>
                </a><!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top"><!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                    {% if user.is_authenticated %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if perfiles %}
                                    {% for p in perfiles.all %}
                                        {% if p.Usuario_id.id == user.id %}
                                            <img src="{{ p.imagen_perfil.url }}" class="user-image" alt="User Image">
                                        {% else %}
                                            <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" class="user-image" alt="User Image">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" class="user-image" alt="User Image">
                                {% endif %}
                                <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    {% if perfiles %}
                                        {% for p in perfiles.all %}
                                            {% if p.Usuario_id.id == user.id %}
                                                <img src="{{ p.imagen_perfil.url }}" alt="" />
                                            {% else %}
                                                <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" alt="" />
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" alt="" />
                                    {% endif %}
                                    <p>
                                        {{ user.first_name }} {{ user.last_name }}
                                        <small>{{ user.date_joined }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        {% if perfiles %}
                                            {% for p in perfiles.all %}
                                                {% if p.Usuario_id.id == user.id %}
                                                    <a href="{% url 'perfil_detallado' user.id %}" class="btn btn-default btn-flat">Perfil</a>
                                                {% else %}
                                                    <a href="{% url 'perfil' user.id %}" class="btn btn-default btn-flat">Perfil</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <a href="{% url 'perfil' user.id %}" class="btn btn-default btn-flat">Perfil</a>
                                        {% endif %}
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static '/AdminLTE-2.4.2/img/product/sinusuario.jpg' %}" class="user-image" alt="User Image">
                                <span class="hidden-xs">Sin Usuario</span>
                            </a>
                              <ul class="dropdown-menu">
                                  <!-- User image -->
                                  <li class="user-header">
                                      <img src="{% static '/AdminLTE-2.4.2/img/product/sinusuario.jpg' %}" alt="" />
                                      <p>
                                          Sin Usuario
                                      </p>
                                  </li>
                                  <!-- Menu Footer-->
                                  <li class="user-footer">
                                      <div class="pull-left">
                                          <a href="{% url 'registro' %}" class="btn btn-default btn-flat">Inciar Sesión</a>
                                      </div>
                                      <div class="pull-right">
                                          <a href="{% url 'registro' %}" class="btn btn-default btn-flat">Registrarse</a>
                                      </div>
                                  </li>
                              </ul>
                        </li>
                    {% endif %}
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle=""><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        {% if user.is_authenticated %}
                            <div class="pull-left image">
                                {% if perfiles %}
                                    {% for p in perfiles.all %}
                                        {% if p.Usuario_id.id == user.id %}
                                            <img src="{{ p.imagen_perfil.url }}" class="img-circle" alt="User Image">
                                        {% else %}
                                            <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" class="img-circle" alt="User Image">
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <img src="{% static '/AdminLTE-2.4.2/img/product/usuario.jpg' %}" class="img-circle" alt="User Image">
                                {% endif %}
                            </div>
                            <div class="pull-left info">
                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        {% else %}
                            <div class="pull-left image">
                                <img src="{% static '/AdminLTE-2.4.2/img/product/sinusuario.jpg' %}" class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">
                                <p>Sin Usuario</p>
                                <a href="#"><i class="fa fa-circle text-warning"></i> Offline</a>
                            </div>
                        {% endif %}
                    </div>
                    <!-- search form -->
                    <form action="{% url 'buscar_planta' %}" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Buscar">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">Menú de Navegación</li>
                        <li>
                            <a href="{% url 'homepage' %}">
                                <i class="fa fa-home"></i> <span>Inicio</span>
                            </a>
                        </li>
                        {% if user.groups.all|length > 0 %}
                            {% for u in user.groups.all%}
                                {% if u.name == "SuperUsuarios" or u.name == "Administradores" %}
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-pagelines"></i>
                                            <span>Plantas Medicinales</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="{% url 'buscar_planta' %}"><i class="fa fa-circle-o"></i> Busqueda de Plantas</a></li>
                                            <li><a href="{% url 'Planta' %}"><i class="fa fa-circle-o"></i>Mis Plantas</a></li>
                                            <li><a href="{% url 'guardar_planta' %}"><i class="fa fa-circle-o"></i> Registro Planta</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-pagelines"></i>
                                            <span>Plantas Medicinales</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="{% url 'buscar_planta' %}"><i class="fa fa-circle-o"></i> Busqueda de Plantas</a></li>
                                            <li><a href="{% url 'Planta' %}"><i class="fa fa-circle-o"></i>Mis Plantas</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pagelines"></i>
                                    <span>Plantas Medicinales</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{% url 'buscar_planta' %}"><i class="fa fa-circle-o"></i> Busqueda de Plantas</a></li>
                                    <li><a href="{% url 'Planta' %}"><i class="fa fa-circle-o"></i>Mis Plantas</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'Reconocimiento' %}">
                                <i class="fa fa-eye"></i>
                                <span>Reconocimiento de Plantas</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'Juego' %}">
                                <i class="fa fa-puzzle-piece"></i>
                                <span>Juegos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="treeview active">
                            <a href="#">
                                <i class="fa fa-users"></i> <span>Usuarios</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url 'usuarios' %}"><i class="fa fa-circle-o"></i> Listado de Usuarios</a></li>
                                <li class="active"><a href="{% url 'agregar_usuario' %}"><i class="fa fa-circle-o"></i> Crear Usuarios</a></li>
                            </ul>
                        </li>
                        {% if user.groups.all|length > 0 %}
                            {% for u in user.groups.all%}
                                {% if u.name == "SuperUsuarios" %}
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-file-pdf-o"></i>
                                            <span>Reportes</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="{% url 'report_usuario' %}"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                                        </ul>
                                    </li>
                                {% elif u.name == "Administradores" %}
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-file-pdf-o"></i>
                                            <span>Reportes</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="{% url 'report_usuario' %}"><i class="fa fa-circle-o"></i> Usuarios</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if perfiles %}
                                {% for p in perfiles.all %}
                                    {% if p.Usuario_id.id == user.id %}
                                        <li>
                                            <a href="{% url 'perfil_detallado' user.id %}">
                                                <i class="fa fa-user-plus"></i> <span>Perfil</span>
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url 'perfil' user.id %}">
                                                <i class="fa fa-user-plus"></i> <span>Perfil</span>
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li>
                                    <a href="{% url 'perfil' user.id %}">
                                        <i class="fa fa-user-plus"></i> <span>Perfil</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="{% url 'login'%}">
                                    <i class="fa fa-user-plus"></i> <span>Perfil</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                      </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
            <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Usuarios del Sistema
                        <small> YURAKU </small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'homepage' %}"><i class="fa fa-home"></i>Inicio</a></li>
                        <li><a href="{% url 'usuarios' %}">Listado de Usuarios</a></li>
                        <li class="active">Crear Usuario</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <!-- SELECT2 EXAMPLE -->
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Crear un Nuevo Usuario</h3>
                        </div>
                            {% if message is not null %}
                                <div class="alert alert-danger alert-mg-b" role="alert">
                                    <strong>Datos Erroneos</strong> {{ message }}
                                </div>
                            {% elif message1 is not null %}
                                <div class="alert alert-success alert-mg-b" role="alert">
                                    <strong>Datos Corrector</strong> {{ message1 }}
                                </div>
                            {% endif %}
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form action="{% url 'agregar_usuario' %}" method="post" enctype="multipart/form-data" class="add-user">  {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_first_name">Nombre:</label>
                                            <input class="form-control" name="first_name" id="id_first_name" title="first_name" autofocus placeholder="Ejemplo: Ricardo" {{ form.first_name }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_username">Usuario:</label>
                                            <input class="form-control" name="username" id="id_username" title="username" placeholder="Ejemplo: usuario1" {{ form.username }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_password1">Clave:(Usa 8 o más caracteres con una combinación de letras, números y símbolos):</label>
                                            <input type="password" class="form-control example1" name="password1" id="id_password1" title="password1">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <div class="sparkline12-graph">
                                                <div id="pwd-container1">
                                                    <div class="form-group mg-b-pass">
                                                        <div class="pwstrength_viewport_progress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_last_name">Apellido:</label>
                                            <input class="form-control" name="last_name" type="text" id="id_last_name" title="last_name" placeholder="Ejemplo: Carrion" {{ form.last_name }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_email">Correo:</label>
                                            <input class="form-control" name="email" id="id_email" title="email" placeholder="Ejemplo: usuario@hotmail.com" {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-horizontal" for="id_password2">Repita la Clave:</label>
                                            <input type="password" class="form-control example" name="password2" id="id_password2" title="password2">
                                        </div>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                            <label class="form-horizontal" for="id_typeuser">Seleccione el Rol de Usuario:</label>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                            <div class="chosen-select-single form-group">
                                                <select name="typeuser" data-placeholder="Seleccione el Rol de Usuario" class="form-control" tabindex="-1" id="id_typeuser" title="">
                                                    <option value="">Seleccione el Rol de Usuario:</option>
                                                    <option value="Estudiantes">Estudiantes</option>
                                                    <option value="Profesores">Profesores</option>
                                                    <option value="Administradores">Administradores</option>
                                                    <option value="Superusuarios">SuperUsuarios</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: center;">
                                    <div class="col-lg-12">
                                        <div class="payment-adress">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                            <a type="button" class="btn btn-danger waves-effect waves-light" href="{% url 'usuarios' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form><!-- /.form-group -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </section>
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Versión</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2019 <a href="https://www.ups.edu.ec/">UPS Cuenca-Ecuador</a>.</strong> Todos los derechos reservados.
            </footer>
        </div>
    </body>
</html>
{% endblock %}
