{% extends "soporte.html" %}
{% block title %} Recuperar Clave - YURAKU {% endblock %}
{% block content %}
{% load staticfiles %}
<html class="no-js" lang="es">
    <title>Recuperar Clave - YURAKU </title>
    <body class="hold-transition login-page">
        <form action="" method="post">{% csrf_token %}
            <div class="login-box">
                <div class="login-logo">
                    <a href="{% url 'homepage' %}">
                        <img src="{% static '/AdminLTE-2.4.2/img/faviconplanta-01.png' %}" class="user-image" alt="User Image">
                        <b>YURA</b>KU
                    </a>
                </div>
                {% if message is not null %}
                    <div class="alert alert-danger alert-mg-b" role="alert">
                        <strong>Datos Erroneos</strong> {{ message }}
                    </div>
                {% endif %}<!-- /.login-logo -->
                <div class="login-box-body">
                    {% autoescape off %}
                        Para iniciar el proceso de restablecimiento de la clave del usuario {{ user.get_username }} que es una Cuenta del sitio,
                        haga clic en el siguiente enlace:
                        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                        Si al hacer clic en el enlace de arriba no funciona.
                        por favor copie y pegue la URL en una nueva ventana de un navegador.

                        Atentamente,
                        El Administrador del YURAKU.
                    {% endautoescape %}
                    <button class="btn btn-primary btn-block" type="submit">Aceptar</button>
                </div><!-- /.login-box-body -->
            </div><!-- /.login-box -->
        </form>
    </body>
    <div class="text-center login-footer">
        <strong>Copyright &copy; 2019 <a href="https://www.ups.edu.ec/">UPS Cuenca-Ecuador</a>.</strong> Todos los derechos reservados.
    </div>
</html>
{% endblock %}