{% extends "soporte.html" %}
{% block title %} Recuperar Clave - YURAKU {% endblock %}
{% block content %}
{% load staticfiles %}
<html class="no-js" lang="ea">
    <title>Recuperar Clave - YURAKU </title>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static '/AdminLTE-2.4.2/img/faviconplanta-01.png' %}" class="user-image" alt="User Image">
                    <b>YURA</b>KU
                </a>
            </div>
            {% if message is not null %}
                <div class="alert alert-danger alert-mg-b" role="alert">
                    <strong>Datos Erroneos</strong> {{ message }}
                </div>
            {% endif %}<!-- /.login-logo -->
            <div class="login-box-body">
                <form action="" id="loginForm" method="post">{% csrf_token %}
                    <p> Le hemos enviado instrucciones por correo electrónico para configurar su clave, si existe una cuenta con el correo electrónico que ingresó.</p>
                    <p> Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró, y revisa tu carpeta de spam.</p>
                    <a type="button" href="{% url 'homepage' %}">Cerrar</a>
                </form>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
    <div class="text-center login-footer">
        <strong>Copyright &copy; 2019 <a href="https://www.ups.edu.ec/">UPS Cuenca-Ecuador</a>.</strong> Todos los derechos reservados.
    </div>
</html>
{% endblock %}