{% extends "soporte.html" %}
{% block title %} Recuperar Clave - YURAKU {% endblock %}
{% block content %}
{% load staticfiles %}
<html class="no-js" lang="es">
    <title> Recuperar Clave - YURAKU </title>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static '/AdminLTE-2.4.2/img/faviconplanta-01.png' %}" class="user-image" alt="User Image">
                    <b>YURA</b>KU
                </a>
            </div>
            {% if message is not null %}
                <div class="alert alert-danger alert-mg-b" role="alert">
                    <strong>Datos Erroneos</strong> {{ message }}
                </div>
            {% endif %}<!-- /.login-logo -->
            <div class="login-box-body">
                <p>
                    Ingrese su dirección de correo electrónico y su contraseña será restablecida y le será enviada por correo electrónico.
                </p>
                <form action="" id="loginForm" method="post">{% csrf_token %}
                    <div class="form-group" style="text-align: center;">
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Recuperar Clave</button>
                </form>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
    <div class="text-center login-footer">
        <strong>Copyright &copy; 2019 <a href="https://www.ups.edu.ec/">UPS Cuenca-Ecuador</a>.</strong> Todos los derechos reservados.
    </div>
</html>
{% endblock %}