{% extends "soporte.html" %}
{% block title %} Iniciar Sesión - YURAKU {% endblock %}
{% block content %}
{% load staticfiles %}
<title>Iniciar Sesión - YURAKU </title>
<html class="no-js" lang="es">
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static '/AdminLTE-2.4.2/img/faviconplanta-01.png' %}" class="user-image" alt="User Image">
                    <b>YURA</b>KU
                </a>
            </div>
            {% if message is not null %}
                <div class="alert alert-danger alert-mg-b" role="alert">
                    <strong>Datos Erroneos</strong> {{ message }}
                </div>
            {% endif %}<!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Inicia sesión en la aplicación.</p>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group has-feedback">
                        <span class="help-block small">Tu usuario de la aplicación</span>
                        <input type="text" placeholder="usuario" title="Por favor ingrese su usuarios" class="form-control" required="" value="" name="username" id="id_username">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <span class="help-block small">Tu clave de la aplicación</span>
                        <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="id_password" class="form-control">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar Sesión</button>
                        </div><!-- /.col -->
                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <p>- o Iniciar Sesión con: -</p>
                    <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github btn-flat"><i class="fa fa-github"></i>GitHub</a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Google+</a>
                </div><!-- /.social-auth-links -->
                <a href="{% url 'password_reset'%}">Olvidó su clave</a><br>
                <a type="button" class="text-center" href="{% url 'registro' %}">Registrarse como nuevo usuario</a>
			    <a type="button" class="btn btn-close btn-block button-down-drop" href="{% url 'homepage' %}">Cancelar</a>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
    <div class="text-center login-footer">
        <strong>Copyright &copy; 2019 <a href="https://www.ups.edu.ec/">UPS Cuenca-Ecuador</a>.</strong> Todos los derechos reservados.
    </div>
</html>
{% endblock %}
